.home-hero{

max-width:900px;

margin:0 auto 3rem auto;

text-align:center;

}

.hero-image{

width:100%;

max-width:850px;

border-radius:10px;

margin-bottom:2rem;

}

.subtitle{

font-size:1.4rem;

color:#777;

margin-bottom:2rem;

}

.intro{

font-size:1.2rem;

line-height:1.8;

max-width:700px;

margin:auto;

}

.timeline{

margin-top:2rem;

}

.event{

display:flex;

gap:25px;

margin-bottom:25px;

padding-bottom:20px;

border-bottom:1px solid #ddd;

}

.date{

font-weight:bold;

font-size:1.2rem;

min-width:90px;

color:#0b5fa5;

}
