---
layout: default
---

{% include icecore/hero.html %}

<div class="icecore-home">

    <section class="icecore-home-top">

        <div class="icecore-feature">

            {% include icecore/feature-story.html %}

        </div>

        <div class="icecore-highlights-column">

            {% include icecore/highlights.html %}

        </div>

        <div class="icecore-news-column">

            {% include icecore/latest-news.html %}

        </div>

    </section>


    <section class="icecore-home-bottom">

        <div class="icecore-calendar-column">

            {% include icecore/calendar.html %}

        </div>

        <div class="icecore-editors-column">

            {% include icecore/editors-pick.html %}

            <div class="icecore-home-description">
                <p>
                    “IceCore Dynasty is a 20-team fantasy hockey dynasty league
                    built around permanent franchises, long-term General Manager
                    strategy, a 500-coin salary cap, keepers, prospects and live
                    salary-cap auctions.”
                </p>
            </div>

        </div>

    </section>

</div>

<style>

.icecore-home-description {
    margin-top: 42px;
    padding-top: 24px;
    border-top: 1px solid #e2e6e9;
}

.icecore-home-description p {
    max-width: 620px;
    margin: 0;

    font-size: 0.82rem;
    line-height: 1.65;
    font-style: italic;
    color: #858d93;
}

@media (max-width: 700px) {

    .icecore-home-description {
        margin-top: 34px;
        padding-top: 20px;
    }

    .icecore-home-description p {
        font-size: 0.78rem;
    }

}

</style>
